appName: app-name

configMap:
  ENVIRONMENT: "dev"

service:
  portName: http
  type: NodePort
  port: 8080
  targetPort: 8080

secret:
  foo: YmFyCg==

replicaCount: 1

container:
  name: app-name
  image:
    repository: gcr.io/ita/app-name
  ports:
    - containerPort: 8080
  resources:
      requests:
          memory: "128Mi"
          cpu: "250m"
      limits:
          memory: "256Mi"
          cpu: "500m"
  livenessProbe:
      failureThreshold: 3
      successThreshold: 1
      initialDelaySeconds: 40
      periodSeconds: 20
      timeoutSeconds: 2
      httpGet:
         path: /liveness_check
         port: 8080
         scheme: HTTP
  readinessProbe:
      failureThreshold: 3
      successThreshold: 1
      initialDelaySeconds: 25
      periodSeconds: 5
      timeoutSeconds: 4
      httpGet:
         path: /status
         port: 8080
         scheme: HTTP
